/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Box model fix  */
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #2a6592;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .5;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn {
  text-decoration: none;
  background: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}

/* Down Arrow */
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Header and Footer
-------------------------*/
header, footer {
  background-color: #132037;
  color: #FFFFFF;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: white;

  /*  */
  /*  */
  /*  */
  /*  */
  position: fixed;
  /*  */
  /*  */
  /*  */
  /*  */
  top: 0;
  width: 100%;
  z-index: 100;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}


/* Work Experience
-------------------------*/
.work {
  background-color: #A2BAE7;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}


/* Education
-------------------------*/
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
              url(../images/toronto.jpeg) no-repeat fixed;
  background-size: cover;
}
p + h3 {
  margin-top: 30px;
}

h3 + h4 {
  margin: 0;
}



/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}



/* All Social media Icons  */


/* Style for social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  /* background: #3B5998; */
  background: black;
  /* color: #2a6592; */
  color:inherit;
}

.fa-twitter {
  background: #55ACEE;
  /* color: #2a6592; */
  color:inherit;
}

.fa-google {
  background: #dd4b39;
  /* color: #2a6592; */
  color:inherit;
}

.fa-linkedin {
  background: #007bb5;
  /* color: #2a6592; */
  color:inherit;
}

.fa-youtube {
  background: #bb0000;
  /* color: #2a6592; */
  color:inherit;
}

.fa-instagram {
  background: #125688;
  /* color: #2a6592; */
  color:inherit;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}







